// Tiny Editor Start
.tiny-editor-sec {
  position: relative;
  width: 100%;
  z-index: 0;

  .tox-tinymce {
    border: 1px solid var(--inputBorder) !important;
    height: 230px !important;
    border-radius: 6px;

    &:focus-visible,
    &:focus {
      border-color:var(--themeColor) !important;
    }
  }
}

.tox-tinymce {
  height: 365px !important;
}

// Tiny Editor End