@import "./Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* // Common Styles Start */

body {
  padding: 0;
  margin: 0;
  background-color: #0004430d;
  font-family: "Inter", sans-serif;
  font-size: var(--commonFont);
  color: var(--textColor);
  overflow: hidden;
}

a {
  transition: 0.5s all;
  color: var(--themeColor);
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;

  &:hover {
    color: var(--darkColor);
  }
}

.input-label-part {
  width: 100%;
}

.input-label {
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  font-size: var(--commonFont-medium);
  color: var(--textColor);
  font-weight: 600;
  // text-transform: uppercase;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.label-h-0 {
  .input-label-part {
    .input-label-title {
      .input-label {
        min-height: unset;
      }
    }
  }
}

.checkbox-part {
  .input-label {
    text-transform: capitalize !important;
  }
}

// custom-margin start
.m-0 {
  margin: 0 !important;
}

// Margin Left
.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

// Margin-Right
.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

// Margin-top
.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

// Margin-bottom
.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

// custom-margin end

// custom-padding start
.p-0 {
  padding: 0 !important;
}

// Padding Left
.pl-1 {
  margin-left: 0.25rem;
}

.pl-2 {
  margin-left: 0.5rem;
}

.pl-3 {
  margin-left: 0.75rem;
}

.pl-4 {
  margin-left: 1rem;
}

.pl-5 {
  margin-left: 1.25rem;
}

// Padding-Right
.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  margin-right: 0.25rem;
}

.pr-2 {
  margin-right: 0.5rem;
}

.pr-3 {
  margin-right: 0.75rem;
}

.pr-4 {
  margin-right: 1rem;
}

.pr-5 {
  margin-right: 1.25rem;
}

// Padding-top
.pt-1 {
  margin-top: 0.25rem;
}

.pt-2 {
  margin-top: 0.5rem;
}

.pt-3 {
  margin-top: 0.75rem;
}

.pt-4 {
  margin-top: 1rem;
}

.pt-5 {
  margin-top: 1.25rem;
}

// Padding-bottom
.pb-1 {
  margin-bottom: 0.25rem;
}

.pb-2 {
  margin-bottom: 0.5rem;
}

.pb-3 {
  margin-bottom: 0.75rem;
}

.pb-4 {
  margin-bottom: 1rem;
}

.pb-5 {
  margin-bottom: 1.25rem;
}

// custom-padding end

// Common Styling Start

.main-page-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-main-content);

  .top-sec {
    display: flex;
    overflow: hidden;
  }

  .collapse-btn {
    position: absolute;
    padding: 7px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--bg-main-content);
    top: 20px;
    right: -20px;

    .click-btn {
      background: var(--gradient-theme);
      height: 100%;
      width: 100%;
      border-radius: 100%;
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        filter: brightness(100);
        transform: rotate(90deg);
        transition: 0.5s all;
      }
    }
  }

  .middle-page-section {
    width: calc(100% - 60px);
    padding: 5px 10px 0;
    margin: 0 auto;
    transition: 0.5s all;

    .center-content-part {
      width: 100%;
    }

    .center-content-part {
      // height: calc(100vh - 62px);
      height: 100vh;
      overflow: hidden;

      .content-desc-section {
        .center-container {
          height: calc(100vh - 106px);
          overflow: hidden;
          overflow-y: auto;
          margin-bottom: 0;
          padding-bottom: 6px;
        }
      }
    }
  }

  &.collapsed {
    .top-sec {
      .sidebar-section {
        width: 70px;

        .sidebar {
          .main-menus {
            .sidebar-brand {
              font-size: var(--commonFont-extraLarge);
              min-height: unset;

              .small-sidebar {
                display: none;
              }
            }

            .sidebar-menu {
              ul {
                &.sidebar-menu-list {
                  li {
                    &.menu-item {
                      a {
                        justify-content: center;
                        padding: 10px;

                        &.menu-arrow {
                          &::before {
                            display: none;
                            opacity: 0;
                          }
                        }

                        span {
                          display: none;
                          opacity: 0;
                        }
                      }

                      .sidebar-dropdown {
                        display: none;
                        opacity: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .collapse-btn {
          opacity: 1;

          .click-btn {
            img {
              transform: rotate(270deg);
            }
          }
        }
      }

      .middle-page-section {
      }
    }
  }
}

.page-title {
  h2 {
    font-size: var(--commonFont-2extraLarge);
    font-weight: bold;
    color: var(--themeColor);
  }
}

.horizontal-form {
  .input-label-part {
    display: flex;
    align-items: flex-start;
    min-height: 50px;

    .input-label-title {
      min-width: 130px;
      max-width: 130px;
    }

    &.tiny-editor {
      align-items: flex-start;
      margin-bottom: 10px;
      // .input-label-title {
      //   min-width: unset;
      // }
    }
  }

  .input-field-sec {
    &.text-area {
      .input-label-part {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2px;
      }
    }

    .checkbox-label-part {
      margin-left: 148px;
    }
  }

  .margin-left0-checkbox {
    .input-field-sec {
      .checkbox-label-part {
        margin-left: 0;
      }

      .validation-text {
        margin-left: 0 !important;
      }
    }
  }

  .date-picker-label-part {
    display: flex;
    align-items: center;
    min-height: 50px;

    .input-label-part {
      min-width: 120px;
    }

    .date-picker {
      width: 100%;
    }
  }
}

.basic-info-sec {
  &.half-sec {
    .card-section-left {
      margin-bottom: 0;
    }
  }
}

.card {
  padding: 12px;
  background: var(--whiteColor);
  border-radius: 12px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);

  &.card-px-0 {
    padding: 12px 0;
  }

  .card {
    box-shadow: none;
    border: none;
    padding: 0;
    margin-bottom: 0;
  }

  .card-top-title-btn {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 44px;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background: var(--linkMenu);
      left: 0;
      bottom: 0;
    }

    .btn-right-sec {
      button {
        margin-left: 20px;
      }
    }
  }

  .card-title,
  .section-title {
    margin-bottom: 0;

    h4 {
      color: var(--textColor);
      color: var(--themeColor);
      margin-bottom: 0;
      text-transform: capitalize;
      font-size: var(--commonFont-medium);
      font-weight: 600;
      white-space: nowrap;
    }

    p {
      font-size: var(--commonFont);
      margin-bottom: 0;
      font-weight: normal;
      color: var(--textColorLight);

      span {
        color: var(--dangerColor);
      }
    }
  }

  .card-title {
    &.border-b {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--inputBorder);
    }
  }

  &.card-section-left {
    .card-top-title-btn {
      justify-content: space-between;
    }
  }

  &.card-section-between {
    .card-top-title-btn {
      justify-content: space-between;
    }
  }

  &.card-button-only {
    .card-top-title-btn {
      justify-content: space-between;
    }
  }

  .card-body-sec {
    margin-top: 10px;
  }
}

.role-table-sec {
  table {
    thead {
      tr {
        th {
          &:nth-child(2) {
            text-align: center;
            width: 200px;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &:nth-child(2) {
            text-align: center;
            width: 200px;
          }
        }
      }
    }
  }
}

.card-bottom-m-0 {
  // max-height: calc(100vh - 162px);
  // overflow: hidden;
  // overflow-y: auto;

  .card {
    margin-bottom: 0;
  }
}

.card-email-sec {
  .card {
    margin-bottom: 0;
    padding: 9px;
    box-shadow: 0px 0px 17px -10px var(--textColorLight);
  }
}

.badge-gradient-warning {
  background: var(--gradient-warning);
  color: #ffffff;
}

.badge-gradient-success {
  background: var(--gradient-success);
  color: #ffffff;
}

.badge-gradient-info {
  background: var(--gradient-info);
  color: #ffffff;
}

.badge-gradient-danger {
  background: var(--gradient-danger);
  color: #ffffff;
}

.badge-gradient-theme {
  background: var(--gradient-theme);
  color: #ffffff;
}

.badge-gradient-Blocked {
  background: var(--blocked-theme);
  color: #ffffff;
}

.badge-gradient-Frozen {
  background: var(--frozen-theme);
  color: #ffffff;
}

.badge-gradient-Approved {
  background: var(--approved-theme);
  color: #ffffff;
}

.badge-gradient-Submitted {
  background: var(--submitted-theme);
  color: #ffffff;
}

.badge-gradient-Pending {
  background: var(--pending-theme);
  color: #ffffff;
}

.badge-gradient-disabled {
  background: var(--disabled-theme);
  color: #ffffff;
}

.badge-gradient-reject {
  background: var(--reject-color);
  color: #ffffff;
}

.status-btn {
  color: #ffffff;
  display: inline-block;
  width: 95px;
  border-radius: 4px;
  box-shadow:
    0 4px 8px rgba(126, 126, 126, 0.2),
    0 6px 20px rgba(116, 116, 116, 0.19);
  font-weight: bold;
  text-align: center;
}

// Tab Section Start
.tab-section {
  margin-bottom: 30px;

  .tab-header {
    border-bottom: 1px solid var(--linkMenu);

    // background: var(--whiteColor);
    @media only screen and (max-width: 1366px) {
      width: 86%;
    }

    button {
      padding: 7px 25px 7px;
      border: none;
      background: #dcdde0;
      border-radius: 0px;
      font-weight: 600;
      font-size: var(--commonFont-medium);
      border: none;
      border-right: 1px solid var(--whiteColor);
      margin-right: 0;
      color: var(--textColor);

      &.active {
        margin-bottom: 10px;
        background: var(--gradient-theme);
        color: var(--whiteColor);
      }
    }
  }

  .tab-content {
    // padding-top: 20px;

    .tab-body-section {
    }
  }

  &.vertical-tab {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    .tab-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 180px;
      height: 100%;
      border-right: 1px solid #d0d4df;
      border-bottom: 0;
      padding: 5px 0px 0 0px;

      // background: var(--bg-main-content);
      button {
        margin: 0;
        width: 100%;
        border-radius: 0;
        text-align: left;
        margin-bottom: 5px;
        border: none;
        border-bottom: 1px solid #d0d4df;
        margin-right: 10px;
        z-index: 1;
        background: #e2e6f0;
        border-right-color: var(--whiteColor);
        color: var(--textColor);

        &.active {
          background: var(--gradient-theme);
          border-right: 1px solid var(--themeColor);
          color: var(--whiteColor);
          border-left: 4px solid var(--textColor);
        }
      }
    }

    .tab-content {
      width: calc(100% - 180px);
    }

    .card {
      padding-right: 0;
      padding-top: 10px;
    }

    .card-body-sec {
      margin-top: 10px;
    }
  }
}

// Tab Section End

.main-customer-grid {
  .card-body-sec {
    margin-top: 0;
  }

  .tab-section {
    margin-bottom: 0;

    .tab-header {
      border-bottom: 1px solid var(--linkMenu);
      background: var(--whiteColor);
      box-shadow: 0px 5px 12px -7px #d8dde6;

      button {
        padding: 2px 25px 7px;
        border: none;
        background: var(--whiteColor);
        border-radius: 0px;
        font-weight: 600;
        font-size: var(--commonFont);
        border: none;
        border-right: 1px solid var(--whiteColor);
        margin-right: 0;
        color: var(--textColor);

        &.active {
          margin-bottom: 0;
          color: var(--themeColor);
          position: relative;
          padding-bottom: 16px;
          font-size: var(--commonFont);

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid var(--themeColor);
            /* Change color as needed */
          }
        }
      }
    }

    .tab-content {
      padding-top: 0;

      .tab-body-section {
      }
    }

    &.vertical-tab {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      .tab-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 180px;
        height: 100%;
        border-right: 1px solid #d0d4df;
        border-bottom: 0;
        padding: 5px 0px 0 0px;

        // background: var(--bg-main-content);
        button {
          margin: 0;
          width: 100%;
          border-radius: 0;
          text-align: left;
          margin-bottom: 5px;
          border: none;
          border-bottom: 1px solid #d0d4df;
          margin-right: 10px;
          z-index: 1;
          background: #e2e6f0;
          border-right-color: var(--whiteColor);
          color: var(--textColor);

          &.active {
            background: var(--gradient-theme);
            border-right: 1px solid var(--themeColor);
            color: var(--whiteColor);
            border-left: 4px solid var(--textColor);
          }
        }
      }

      .tab-content {
        width: calc(100% - 180px);
      }

      .card {
        padding-right: 0;
        padding-top: 10px;
      }

      .card-body-sec {
        margin-top: 10px;
      }
    }
  }
}

.main-customer-grid {
  .main-inactive-grid {
    .card-body-sec {
      margin-top: 0;
    }

    .tab-sub-section {
      margin-bottom: 30px;

      .tab-sub-header {
        border-bottom: 1px solid var(--linkMenu);
        background: var(--whiteColor);
        margin-left: 20px;

        button {
          padding: 7px 25px 7px;
          border: none;
          background: var(--whiteColor);
          border-radius: 0px;
          font-weight: 600;
          font-size: var(--commonFont);
          border: none;
          border-right: 1px solid var(--whiteColor);
          margin-right: 0;
          color: var(--textColor);

          &.active {
            margin-bottom: 0;
            color: var(--themeColor);
            position: relative;
            padding-bottom: 15px;
            border-bottom: 2px solid var(--themeColor);
          }
        }
      }

      .tab-sub-content {
        padding-top: 0;

        .tab-sub-body-section {
        }
      }
    }
  }

  &.setting-tab-sec {
    .card {
      padding-top: 10px;
    }

    .tab-2-section {
      .main-inactive-grid {
        .tab-sub-section {
          .tab-sub-header {
            margin-left: 0;

            button {
              padding: 7px 15px;

              &.active {
                padding-bottom: 12px;
                color: var(--themeColor);
              }
            }
          }

          .tab-sub-content {
            height: calc(100vh - 220px);
            overflow: hidden;
            overflow-y: auto;
            .card{
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--inputBorder);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient-theme);
}

.border-right-0 {
  .css-13cymwt-control {
    border-right: 1px solid transparent !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .css-12zf3ro-control,
  .css-t3ipsp-control {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right: 1px solid var(--themeColor) !important;
  }
}

.horizontal-form {
  .border-left-r-0 {
    .validation-text {
      margin-left: 5px !important;
    }
  }
}

.border-left-r-0 {
  .input-label-part {
    input {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

.contact-card-section,
.address-card-section {
  .accordion-item {
    border: 1px solid #eaf1f9;
    border-radius: 7px !important;
    margin-bottom: 15px;

    .header-title-btn {
      .accordion-header {
        button {
          background: var(--linkMenu);
          padding: 7px 10px;
          color: var(--textColor);
          font-size: var(--commonFont);
          font-weight: 600;
          outline: none;
          box-shadow: none;

          &:not(.collapsed) {
            background: var(--themeColorLight);
            color: var(--themeColor);
          }
        }
      }
    }

    // .accordion-body{
    //   max-height: 268px;
    //   overflow: hidden;
    //   overflow-y: auto;
    // }
  }

  .add-desc-part {
    padding: 10px;
    padding-bottom: 0;

    .address-card {
      box-shadow: 0px 0px 17px -10px var(--textColorLight);
      padding: 10px;
      border-radius: 12px;
      margin-bottom: 10px !important;
      position: relative;
      min-height: 120px;

      &:last-child {
        margin-bottom: 0;
      }

      .add-line {
        width: 92%;
        display: flex;
        flex-direction: column;

        span {
          color: #2d3641db;
          font-size: var(--commonFont-medium);

          &:first-child {
            font-weight: 600;
          }
        }
      }

      .edit-delete-button {
        position: absolute;
        top: 5px;
        right: 5px;

        .edit-btn {
          border: none;
          outline: none;
          box-shadow: none;
          background: transparent;
          padding: 0;

          img {
            width: 20px;
            transition: 0.5s all;
          }

          &:hover {
            img {
              filter: brightness(0);
            }
          }
        }
      }
    }
  }
}

.contact-card-section {
  .contact-type-title {
    background: var(--cardTitleBg);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      font-weight: 600;
      color: var(--textColor);
      font-size: var(--commonFont);
      margin: 0;
    }
  }

  .add-desc-part {
    padding: 0 5px;
    margin-top: 10px !important;

    .contact-card {
      // box-shadow: 0px 0px 17px -10px var(--textColorLight);
      border: 1px solid var(--cardborderColor);
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative;

      // min-height: 125px;
      &.dropdown-open {
        background-color: var(--bg-main-content);
      }

      .add-line {
        display: flex;
        // flex-direction: column;

        .user-icon-name {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          .primary-label {
            // display: inline-block;
            // margin-left: 10px;
            // padding: 2px 4px;
            // border: 2px solid #00c000;
            // border-radius: 12px;
            color: #00c000;
            // font-weight: bold;
            // font-size: 10px;
            margin-left: 5px;
          }

          span {
            &.icon {
              min-height: 30px;
              min-width: 30px;
              max-height: 30px;
              max-width: 30px;
              border-radius: 100%;
              // background: var(--gradient-theme);
              box-shadow: 0px 0px 17px -10px var(--themeColor);
              background: var(--whiteColor);
              padding: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              // position: absolute;
              // top: -5px;
              // left: -5px;

              img {
                max-width: 25px;
                // filter: brightness(100)
              }
            }
          }

          .contact-name-title {
            min-width: 200px;
            padding-right: 5px;

            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start;
            align-items: center;
          }
        }

        .contact-right-info {
          margin-left: 10px;
          display: flex;
          align-items: center;

          .email-sec {
            min-width: 200px;
            max-width: 450px;
          }

          .contact-sec {
            min-width: 230px;
            margin-left: 10px;
            max-width: 450px;
          }
        }

        .contact-type {
          margin: 0 2px;
        }

        span {
          font-size: var(--commonFont-small);
          color: #2d3641db;

          &.user-name {
            font-size: var(--commonFont-small);
            color: var(--themeColor);
            margin-bottom: 0;
            // margin-left: 31px;
            // margin-top: -4px;
          }

          b {
            display: inline-block;
            min-width: 0px;
            font-weight: 600;
            letter-spacing: 0.3px;
          }
        }
      }

      .edit-delete-button {
        position: absolute;
        top: 5px;
        right: 5px;

        .edit-btn {
          border: none;
          outline: none;
          box-shadow: none;
          background: transparent;
          padding: 0;

          img {
            width: 15px;
            transition: 0.5s all;
          }

          &:hover {
            img {
              filter: brightness(0);
            }
          }
        }
      }
    }
  }
}

.sidebar-contact-model {
  .sidebar-model {
    .side-model-section {
      .model-content {
        .model-body {
          height: calc(100vh - 52spx);
          overflow: hidden;
          overflow-y: auto;
        }
      }
    }
  }
}

.basic-left-part {
  .card {
    .edit-icon {
      min-width: unset;
      padding: 0;
      margin-left: 10px !important;

      img {
        filter: unset;
        width: 20px;
        margin: 0;
      }
    }
  }
}

.border-b {
  border-bottom: 2px dashed var(--inputBorder);
}

.document-list-sec {
  .document-listing {
    .documents {
      display: flex;
      align-items: center;
      padding: 10px;
      box-shadow: 0 3px 20px -10px var(--textColorLight);
      border-radius: 10px;
      border: 1px solid var(--linkMenu);
      margin-top: 20px;

      .left-icons {
        width: 70px;
        display: flex;
        align-items: center;

        img {
          width: 40px;
        }
      }

      .right-desc {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .doc-details {
          padding-left: 5px;

          .document-name {
            font-weight: 600;
            color: var(--textColorLight);
            font-size: var(--commonFont-small);
          }

          .document-type {
            color: var(--textColorLight);
            font-size: var(--commonFont-extraSmall);
          }

          .document-typename {
            color: var(--themeColor);
            font-size: var(--commonFont);
            font-weight: 600;
          }
        }

        .document-action {
          display: flex;
          align-items: center;

          span {
            &.action-icon {
              margin-right: 10px;
              cursor: pointer;

              img {
                width: 15px;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 3px 20px -10px var(--themeColor);
        border-color: var(--themeColorLight);
      }
    }
  }
}

.no-address {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: var(--commonFont-extraLarge);
  color: var(--textColor);
}

.document-section {
  .card-body-sec {
    margin-top: 0 !important;
  }

  .document-section {
    .card-body-sec {
      margin-top: 0 !important;
    }
  }

  @media only screen and (max-width: 1600px) {
    .input-label {
      font-size: var(--commonFont-small);
    }

    .checkbox-label-part {
      .input-label {
        font-size: var(--commonFont-small);
      }
    }

    .basic-customer-detail {
      .profile-info {
        h5 {
          font-size: var(--commonFont) !important;
        }

        .input-label-part {
          span {
            font-size: var(--commonFont-small);
          }
        }
      }

      .field-desc {
        font-size: var(--commonFont-medium);
      }
    }

    .horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 120px;
          max-width: 120px;
        }
      }
    }
  }

  // @media only screen and (max-width: 1560px) {
  //   .card {
  //     padding: 15px;
  //   }
  // }

  @media only screen and (max-width: 1366px) {
    .mb-2 {
      margin-bottom: 0 !important;
    }
  }

  @media only screen and (max-width: 1280px) {
    .css-1hb7zxy-IndicatorsContainer {
      .css-1xc3v61-indicatorContainer {
        padding: 0 !important;
      }
    }

    .css-qbdosj-Input {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1180px) {
  .tab-section {
    .tab-header {
      button {
        padding: 7px 10px 7px;
      }
    }
  }
}

.notes-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--card-shadow);
  margin: 10px 0;
  // background: #fec971;
  min-height: 100px;
  overflow: auto;
  height: 100%;

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: 100%;
  }

  .note-label {
    font-size: var(--commonFont-medium);
    color: #00000073;
    margin-bottom: 5px;
  }

  .bottom-info {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .note-date {
    font-size: var(--commonFont-small);
    color: var(--textColor);
  }

  .card-notes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    // margin-top: -10px;

    .edit-button {
      display: flex;
      align-items: center;
      justify-content: center;

      .edit-btn {
        background: transparent;
        padding: 7px;

        min-width: 30px;
        background-color: var(--lightDarkblack);
        border-radius: 50%;
        transition: 0.5s all;

        img {
          width: 15px;
          margin: 0 auto;
          filter: brightness(0);
        }

        &:hover {
          background: var(--blackColor);

          img {
            filter: brightness(100);
          }
        }
      }
    }
  }
}

.card {
  .card-body-sec {
    .note-card-sec {
      max-height: calc(100vh - 235px);
      overflow: hidden;
      overflow-y: auto;
    }
  }
}

.setting-tab-sec {
  .tab-sub-section {
    .tab-sub-content {
      .grid-section {
        max-height: calc(100vh - 235px);
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }

  .card {
    .card-body-sec {
      .note-card-sec {
        max-height: calc(100vh - 296px);
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }
}

.editor-section {
  p {
    font-size: var(--commonFont-small);
    color: var(--blackColor);
    margin-bottom: 5px;
    font-weight: 600;
    // display: -webkit-box;
    // -webkit-line-clamp: 5;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }

  a {
    color: var(--themeColor);
  }

  ol,
  ul {
    margin-top: 10px;

    li {
      margin-bottom: 5px;
    }
  }
}

.custom-height-tiny {
  .tiny-editor-sec {
    .tox-tinymce {
      height: 350px !important;
    }
  }
}

.randomColor {
  &.lightOrange {
    background: var(--lightOrange);
  }

  &.lightBlue {
    background: var(--lightBlue);
  }

  &.lightGreen {
    background: var(--lightGreen);
  }

  &.lightYellow {
    background: var(--lightYellow);
  }

  &.lightPink {
    background: var(--lightPink);
  }

  &.lightPurple {
    background: var(--lightPurple);
  }

  &.lightGray {
    background: var(--lightGray);
  }
}

.view-icon {
  cursor: pointer !important;
}

.view-reject-icon {
  cursor: auto;
}

.green-color {
  color: var(--PrimaryColor);
  font-size: var(--commonFont-2extraLarge);
  font-weight: lighter;
}

.red-color {
  color: var(--dangerColor);
  font-size: var(--commonFont-2extraLarge);
  font-weight: lighter;
}

.label-txt {
  b {
    min-width: 100px;
  }

  .fix-data {
    .card-value {
      font-size: var(--commonFont-small);
    }

    .primary-phone {
      color: var(--themeColor);
      font-weight: bold;
    }
  }
}

.copy-icon {
  img {
    width: 15px;
    height: 15px;
    margin-left: 7px;
    cursor: pointer !important;
  }
}

.status-dropdown {
  width: auto;
  position: relative;
  padding-right: 0;

  &:before {
    content: "";
    position: absolute;
    background: url(../assets/images/editIcon-theme.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
  }

  .css-1dimb5e-singleValue {
    margin-left: 0 !important;
    font-size: var(--commonFont-small);
  }

  .css-13cymwt-control {
    cursor: pointer;
    background: transparent !important;
    border: none !important;

    // padding-top: 3px;
    .css-qbdosj-Input {
      margin: 0 !important;
    }
  }

  .css-1hb7zxy-IndicatorsContainer {
    visibility: hidden;
  }

  .css-t3ipsp-control {
    cursor: pointer;
    padding-top: 3px;
    // background: transparent !important;
    border: none !important;
    box-shadow: none !important;

    .css-qbdosj-Input {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  &.badge-gradient-Approved {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--approved-theme);
      font-weight: 600;
    }
  }

  &.badge-gradient-Submitted {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--submitted-theme);
      font-weight: 600;
    }
  }

  &.badge-gradient-Pending {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--pending-theme);
      font-weight: 600;
    }
  }

  &.badge-gradient-Blocked {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--blocked-theme);
      font-weight: 600;
    }
  }

  &.badge-gradient-Frozen {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--frozen-theme);
      font-weight: 600;
    }
  }

  &.badge-gradient-info {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--themeColor);
      font-weight: 600;
    }
  }

  &.badge-gradient-disabled {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--disabled-theme);
      font-weight: 600;
    }
  }

  &.badge-gradient-reject {
    background: transparent;

    .css-1dimb5e-singleValue {
      color: var(--reject-color);
      font-weight: 600;
    }
  }

  .css-1nmdiq5-menu {
    .css-10wo9uf-option,
    .css-d7l1ni-option {
      color: var(--textColor);
    }
  }
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: var(--whiteColor);
  border: 1px solid var(--inputBorder);
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: var(--themeColor);
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--whiteColor);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 62%;
  left: 80%;
}

input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-setting-detail {
  .first-card {
    margin-bottom: 10px !important;
    border-color: var(--linkMenu);
  }
}

.inactive-scroll-bar {
  table {
    tbody {
      display: block;
      max-height: calc(100vh - 450px);
      overflow-y: auto;
      width: 100%;
      overflow-x: hidden;
    }
  }
}

.inactive-scroll-bar {
  table {
    tbody {
      display: block;
      max-height: calc(100vh - 450px);
      overflow-y: auto;
      width: 100%;
      overflow-x: hidden;
    }
  }
}

.customer-list-all {
  table {
    thead {
      tr {
        th {
          &:nth-child(3) {
            display: flex;
            justify-content: center;
          }

          &:nth-child(4) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &:nth-child(3) {
            display: flex;
            justify-content: center;
          }

          &:nth-child(4) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

.w-20p {
  width: 20px;
}

.customer-list-submitted {
  table {
    thead {
      tr {
        th {
          &:nth-child(4) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &:nth-child(4) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

.status-desc {
  position: absolute;
  // left: 0;
  // top: 0;
  right: 0;
  bottom: 0;

  .field-info {
    padding: 3px 5px;
    // border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: var(--commonFont-small);
    font-weight: 600;

    &.active-green-color {
      background: var(--PrimaryColor);
      color: #fff !important;
    }
  }
}

// Checklist Section Start
.checklist-section {
  border-bottom: 1px solid var(--inputBorder);
  padding-bottom: 15px;

  .sub-checklist {
    padding-left: 30px;

    .checkbox-part {
      .input-label-title {
        .input-label {
          font-weight: normal;
        }
      }
    }
  }
}

.cursor-disable {
  cursor: not-allowed !important;
}

.contact-icon-img {
  width: 15px;
  margin-right: 10px;
}

.primary-icon {
  // margin-left: 5px;
  // background: var(--PrimaryColor);
  // border-radius: 100%;
  // padding: 3px;
  // min-width: 13px;
  // min-height: 13px;
  // max-width: 13px;
  // max-height: 13px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  img {
    filter: brightness(100);
  }
}

.primary-text-title {
  font-size: var(--commonFont-extraSmall) !important;
  color: var(--inputBorder) !important;
}
.contact-type-icon{
  min-height: 20px !important;
  min-width: 20px !important;
  max-height: 20px !important;
  max-width: 20px !important;
}
.right-contact-ext-type {
  .contact-type {
    span {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i {
        font-size: var(--commonFont-large) !important;
        color: var(--inputBorder) !important;

        &.fa-mobile {
          font-size: var(--commonFont-2extraLarge) !important;
        }

        &.fa-home {
          font-size: var(--commonFont-extraLarge) !important;
        }
      }
    }
  }
}

.btn-right-sec {
  display: flex;
  align-items: center;
}

.stepper-content {
  .tab-sub-content {
    margin-bottom: 0 !important;
  }
}

.input-list-button {
  table {
    tbody {
      tr {
        td {
          &:nth-child(1) {
            display: flex;
            justify-content: flex-start;
            word-break: break-all;
          }

          &:nth-child(2) {
            display: flex;
            justify-content: flex-start;
            word-break: break-all;
          }

          &:nth-child(3) {
            display: flex;
            justify-content: flex-start !important;
            word-break: break-all !important;
          }

          &:nth-child(4) {
            display: flex;
            justify-content: flex-start;
            word-break: break-all;
          }

          &:nth-child(5) {
            display: flex;
            justify-content: flex-start;
            word-break: break-all;
          }

          &:nth-child(6) {
            display: flex;
            justify-content: flex-start;
            word-break: break-all;
          }
        }
      }
    }
  }
}

.pop-up-input-btn {
  .card {
    padding: 12px !important;
    background: var(--whiteColor) !important;
    border-radius: 12px !important;
    margin-bottom: 20px !important;
    border: none !important;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12) !important;
  }
}

.manage-customer-dropdown {
  display: flex;
  width: 100%;
}

.serach-bar-history {
  display: flex;
  padding: 0 45px;
}

.refresh-btn-history {
  display: flex;
  justify-content: end;
  margin-left: auto;
}

.custom-datepicker {
  .react-daterange-picker {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 35px;
    outline: 0 !important;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
  }
  .react-daterange-picker__wrapper {
    border: none;
  }
  .react-calendar__tile--active {
    background-color: var(--themeColor) !important;
  }
  .react-daterange-picker__inputGroup {
    min-width: 0;
    flex-grow: 0;
    font-size: var(--commonFont-small);
    cursor: pointer !important;

  }
  .react-daterange-picker__inputGroup__input:invalid {
    background: none !important;
  }
  .react-calendar__tile--now{
    background: var(--themeColor) !important;
    color: #fff !important;
  }
  .react-calendar {
    width: 280px;
    margin-top: 5px;
  }
  .react-daterange-picker__inputGroup__input{
    outline: none;
  }
  .react-daterange-picker__clear-button{
    margin-left: auto;
    i {
      color: hsl(0, 0%, 80%);
      &:hover {
        color: var(--themeColor) !important;
      }
    }
  }
  .react-daterange-picker__calendar-button__icon {
    stroke: hsl(0, 0%, 80%);
    &:hover {
      stroke: var(--themeColor) !important;
    }
  }
}

@media only screen and (max-width: 1560px) {
  .status-dropdown {
    .css-t3ipsp-control,
    .css-13cymwt-control {
      padding: 0 !important;
    }
  }

  .address-model {
    .sidebar-model {
      .side-model-section {
        .model-content {
          &.content-40 {
            width: 50%;
          }
        }
      }
    }
  }

  .contact-card-section {
    .add-desc-part {
      .contact-card {
        .edit-delete-button {
          .edit-btn {
            img {
              width: 15px;
            }
          }
        }

        .add-line {
          span {
            b {
              text-transform: uppercase;
            }
          }

          .contact-icon-img {
            width: 13px;
            margin-right: 7px;
            padding-top: 2px;
          }
        }
      }
    }
  }

  .address-card-section {
    .add-desc-part {
      .address-card {
        .edit-delete-button {
          .edit-btn {
            img {
              width: 15px;
            }
          }
        }
      }
    }
  }

  input[type="checkbox"]:checked:before {
    width: 17px;
    height: 17px;
  }

  input[type="checkbox"]:checked:after {
    top: 57%;
    left: 65%;
  }

  .card {
    padding: 8px;

    .card-top-title-btn {
      min-height: unset;
      padding-bottom: 8px;
    }
  }

  .card-email-sec {
    .card {
      padding: 8px;
    }
  }

  .card-section-leftcard-button-only {
    padding: 8px 12px;
  }

  .main-customer-grid.setting-tab-sec {
    .card {
      padding: 3px 10px 0;
    }
  }

  .main-customer-grid {
    .tab-section {
      margin-bottom: 0;
    }

    &.setting-tab-sec {
      .tab-2-section {
        .main-inactive-grid {
          .tab-sub-section {
            .tab-sub-header button {
              &.active {
                padding-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }

  .setting-tab-sec {
    .tab-sub-section {
      .tab-sub-content {
        .grid-section {
          max-height: calc(100vh - 270px);
        }
      }
    }
  }

  .main-customer-grid {
    .card {
      padding: 10px 12px 12px;
    }

    .tab-section {
      .tab-header {
        button {
          padding: 2px 15px 7px;

          &.active {
            padding-bottom: 10px;
            padding: 2px 15px 10px;

            &:before {
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-top: 7px solid var(--themeColor);
            }
          }
        }
      }
    }
  }

  .sidebar-contact-model {
    .no-address {
      .record-not-found {
        img {
          width: 75px;
        }
      }
    }

    .card-body-sec {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .add-address-form {
    &.horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 95px;
          max-width: 95px;
        }
      }

      @media only screen and (max-width: 1560px) {
        .validation-text {
          margin-left: 110px !important;
        }
      }
    }
  }

  .addEditContact-form {
    &.horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 95px;
          max-width: 95px;
        }
      }
    }
  }

  .add-edit-emailAddressForm {
    &.horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 95px;
          max-width: 95px;
        }
      }
    }
  }

  .add-edit-phoneForm {
    &.horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 110px;
          max-width: 110px;
        }
      }
    }
  }

  .add-documentForm {
    &.horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 110px;
          max-width: 110px;
        }
      }
    }
  }

  .add-edit-notesForm {
    &.horizontal-form {
      .input-label-part {
        .input-label-title {
          min-width: 90px;
          max-width: 90px;
        }
      }
    }
  }
  .input-label{
    min-height: 28px;
  }
  .custom-datepicker {
    .react-daterange-picker {
      width: 120% !important;
      min-height: 29px !important;
    }
  }
}

.drop-down {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 0;
  margin-left: 20px;
  cursor: pointer;

  &.mobilenumber {
    margin-left: 10px;
  }

  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}

.dropdown-content {
  transform: translateX(-92%);
  display: none;
  position: absolute;
  background-color: var(--whiteColor);
  min-width: 185px;
  max-height: 170px;
  box-shadow: var(--card-shadow);
  z-index: 999;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 0px;
  overflow: hidden;
  overflow-y: auto;
}

.dropdown-content {
  .contact-list {
    cursor: auto !important;
    color: var(--blackColor);
    padding: 7px;
    margin: 0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(240, 240, 240);
    justify-content: space-between;

    &:last-child {
      padding-bottom: 7px;
      border-bottom: 0;
    }
  }

  &.mobilenumber {
    min-width: 230px;
  }
}

.show {
  display: block;
}
