.basic-left-part {
  .card-section-left {
    .card-body-sec {
      .basic-info-sc {
        min-height: calc(100vh - 208px);

        .text-area {
          .text-area-input {
            min-height: 100px;
          }
        }
      }
    }
  }
}

.customer-desc-left-sec {
  .card-body-sec {
    margin-top: 0;

    .basic-customer-detail {
      .profile-info {
        position: relative;
        border-bottom: 1px solid var(--light-menuDot);
        padding-bottom: 15px;
        margin-bottom: 15px;

        .profile-icon-desc {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 0px;

          .profile-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background: var(--gradient-theme);
            border-radius: 100%;
            color: var(--whiteColor);
            font-size: var(--commonFont-large);
            box-shadow: var(--card-shadow);
          }
        }

        h5 {
          font-size: var(--commonFont-extraLarge);
          font-weight: 600;
          color: var(--themeColor);
          margin-bottom: 0px;
          padding-left: 10px;
        }

        .email-web-info {
          padding-left: 5px;
          margin-top: 10px;

          .input-label-part {
            margin-bottom: 0px;
            padding-bottom: 0;
            margin-top: 5px;

            span {
              display: flex;
              align-items: center;
              margin-left: 2px;

              img {
                width: 18px;
                margin-right: 10px;
              }

              span {
                img {
                  margin-left: 5px;
                }
              }

              &.email-desc-part {
                margin-bottom: 5px;
                margin-top: 7px;
              }
            }
          }
        }

        .edit-icons {
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }

      .field-desc {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        .inf-label {
          font-weight: 600;
          min-width: 120px;
          max-width: 120px;
          color: var(--textColor);
          font-size: var(--commonFont-small);
          padding-top: 2px;
        }
        .info-desc {
          padding-top: 2px;
          font-size: var(--commonFont-small);
          color: var(--textColor);
          word-break: break-all;
        }
        .email-link {
          color: var(--textColor);
          text-decoration: underline;
          &:hover {
            color: var(--themeColor);
          }
        }
        .copy-icon {
          margin-left: 5px;
          cursor: pointer;
          img {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }
  .css-1nmdiq5-menu {
    width: 120% !important;
  }
  .css-b62m3t-container {
    .css-13cymwt-control {
      .css-1xc3v61-indicatorContainer {
        color: #fff !important;
      }
      .css-1xc3v61-indicatorContainer:hover {
        color: #fff !important;
      }
      .css-15lsz6c-indicatorContainer {
        color: #fff !important;
        opacity: 0 !important;
        visibility: hidden !important;
      }
    }
    .css-t3ipsp-control {
      .css-1xc3v61-indicatorContainer {
        color: #fff !important;
      }
      .css-1xc3v61-indicatorContainer:hover {
        color: #fff !important;
      }
      .css-15lsz6c-indicatorContainer {
        color: #fff !important;
        opacity: 0 !important;
        visibility: hidden !important;
      }
    }
  }
}

.basic-info-model {
  .card {
    box-shadow: none;
    padding: 10px 0 0;
  }
}

.back-button {
  position: absolute;
  right: 43px;
}
.customer-detail-tab-sec{
  .card-body-sec{

  }
}

.contact-accrodiaon-scroll {
  overflow: hidden;
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  .card-top-title-btn {
    display: flex;
    width: 100%;
  }
  .card-body-sec {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 248px);
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 1566px) {
  .customer-desc-left-sec {
    .card-body-sec {
      .basic-customer-detail {
        .field-desc {
          .inf-label {
            min-width: 95px;
            max-width: 95px;
          }
        }
      }
    }
  }
  
  .customer-desc-left-sec {
    .card-body-sec {
      .basic-customer-detail {
        .profile-info {
          .edit-icons {
            img {
              width: 15px;
            }
          }
        }
      }
    }
  }
}
