.text-area {
  width: 100%;
  .text-area-input {
    box-shadow: none !important;
    border: 1px solid var(--inputBorder) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 10px 15px;
    outline: none;
    width: 100%;
    min-height: 150px;
    font-size: 90%;

    &:focus-visible,
    &:focus {
      box-shadow: none !important;
      border: 1px solid var(--themeColor) !important;
    }
  }
}