.address-group {
  margin-bottom: 25px;
  margin-top: 10px;
}

.address {
  border: 1px solid var(--themeColor);
  border-radius: 10px;
  padding: 8px;
}

.product-label {
  span {
    font-size: var(--commonFont);
    color: var(--textColor);
  }
  span:nth-child(2) {
    margin-left: 20px;
  }
}
.verify-product-group {
  .loader-section {
    padding: 0;
  }

  .no-record-found {
    border: 2px dashed var(--inputBorder);
    border-radius: 6px;
    padding: 0px 20px 10px 20px;
    table {
      tbody {
        tr {
          border-bottom: 0px;
        }
      }
    }
    table {
      tbody {
        tr {
          border-bottom: 0px;
        }
      }
    }
  }

  margin-top: 36px;
  @media only screen and (max-width: 1860px) {
    margin-top: 30px;
  }
  .verify-product-label {
    font-size: var(--commonFont);
    color: var(--textColor);
    font-weight: 500;
    margin: 10px 0;
  }

  .verify-product-details {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--whiteColor);
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    .detail-row {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 0;

      &:nth-child(odd) {
        background-color: var(--themeColorLightGridRow);
      }

      &:last-child {
        border-bottom: none;
      }

      .detail-label {
        padding-left: 10px;
        font-size: var(--commonFont-small);
        color: var(--textColor);
        width: 20%;
      }

      .detail-value {
        font-size: var(--commonFont-small);
        color: var(--textColorLight);
        width: 50%;
        .input-group {
          width: 100%;
        }
      }

      .detail-action {
        display: flex;
        justify-content: space-around;
        width: 30%;
        .checkbox {
          margin: 0 7px;
        }

        .edit-button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;

          img {
            min-width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1860px) {
  .address {
    margin: 0 9px;
  }
}
@media only screen and (max-width: 1675px) {
  .address {
    width: 31.5%;
  }
}
@media only screen and (max-width: 1560px) {
  .address {
    width: 31.5%;
  }
}
@media only screen and (max-width: 1410px) {
  .address {
    margin: 0 9px;
  }
}

.product-details-hight {
  table {
    tbody {
      min-height: calc(100vh - 170px);
      tr {
        &:last-child {
          border-bottom: 0 !important;
        }
      }
    }
  }
  .parent-row {
    cursor: pointer;
  }
}

.radio-grid {
  .molgrid-2 {
    table {
      tbody {
        tr {
          td:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.order-stepper {
  .address {
    .record-not-found {
      padding: 5px 0px 0px 0px;
      img {
        width: 60px;
      }
      h5 {
        font-size: var(--commonFont) !important;
      }
    }
  }
  .order-stepper-height {
    max-height: calc(100vh - 400px);
  }
}
