.address-group {
  margin-bottom: 25px;
  margin-top: 10px;
}

.address {
  border: 1px solid var(--themeColor);
  border-radius: 10px;
  padding: 8px;
}

.product-label {
  span {
    font-size: var(--commonFont);
    color: var(--textColor);
  }

  span:nth-child(2) {
    margin-left: 20px;
  }
}

.verify-product-group {

  // margin-top: 36px;
  .loader-section {
    padding: 0;
  }

  .no-record-found {
    border: 2px dashed var(--inputBorder);
    border-radius: 6px;
    padding: 0px 20px 10px 20px;

    table {
      tbody {
        tr {
          border-bottom: 0px;
        }
      }
    }

    table {
      tbody {
        tr {
          border-bottom: 0px;
        }
      }
    }
  }

  .record-not-found {
    border: 1px solid var(--inputBorder);
    border-radius: 5px;
    padding: 35px 0;
  }

  .verify-product-label {
    font-size: var(--commonFont);
    color: var(--textColor);
    font-weight: 500;
    margin: 0 0 5px;
  }

  .verify-product-details {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--whiteColor);
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    .detail-row {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 0;

      &:nth-child(odd) {
        background-color: var(--themeColorLightGridRow);
      }

      &:last-child {
        border-bottom: none;
      }

      .detail-label {
        padding-left: 10px;
        font-size: var(--commonFont-small);
        color: var(--textColor);
        width: 20%;
      }

      .detail-value {
        font-size: var(--commonFont-small);
        color: var(--textColorLight);
        width: 60%;

        .input-group {
          width: 100%;
        }
      }

      .detail-action {
        display: flex;
        // justify-content: space-around;
        width: 20%;
        justify-content: flex-end;
        padding-right: 15px;

        .checkbox {
          margin-right: 15px;

          @media only screen and (max-width: 1366px) {
            margin-right: 7px;
          }
        }

        .right-edit-pencil {
          min-width: 45px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .edit-button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0 15px;

          &:first-child {
            margin-left: 0;
            margin-right: 15px;

            @media only screen and (max-width: 1366px) {
              margin-right: 0px;
            }
          }

          img {
            min-width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

.product-details-hight {
  table {
    tbody {
      min-height: calc(100vh - 170px);

      tr {
        &:last-child {
          border-bottom: 0 !important;
        }
      }
    }
  }

  .parent-row {
    cursor: pointer;
  }
}

.radio-grid {
  .molgrid-2 {
    table {
      tbody {
        tr {
          td:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.order-stepper {
  .address {
    .record-not-found {
      padding: 5px 0px 0px 0px;

      img {
        width: 60px;
      }

      h5 {
        font-size: var(--commonFont) !important;
      }
    }
  }

  .order-stepper-height {
    max-height: calc(100vh - 400px);
  }
}

.stepper-card {
  &.order-stepper {
    height: 100%;

    .card {
      height: auto;
      margin-bottom: 0;

      .stepper-section {
        .stepper-content {
          min-height: calc(100vh - 215px);

          @media only screen and (max-width: 1750px) {
            min-height: calc(100vh - 165px);
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 1650px) {
  .input-field {
    height: 28px;
  }
}





.order-listing {
  .card {
    &.card-section-left {
      .card-top-title-btn {
        .manage-customer-dropdown {
          width: auto;

          .col-md-4 {
            width: 400px;
          }
        }
      }
    }

    .card-body-sec {
      table {
        tbody {
          max-height: calc(100vh - 215px);

          @media only screen and (max-width: 1750px) {
            max-height: calc(100vh - 230px);

          }

          @media only screen and (max-width: 1650px) {
            max-height: calc(100vh - 250px);

          }

          @media only screen and (max-width: 1280px) {
            max-height: calc(100vh - 241px);

          }
        }
      }
    }
  }

}


// Order Review Page Start
.order-review-section {
  .manage-customer-dropdown {
    justify-content: center;

    .center-title-text {
      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        font-size: var(--commonFont);
        margin-bottom: 0;
        font-weight: 700;
      }

      button {
        min-width: auto;
        color: var(--themeColor);
      }
    }
  }

  .order-summery-list {
    .desc-section {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .key-icon-part {
        display: flex;
        align-items: center;
        min-width: 145px;

        .component-iconify {
          color: var(--themeColor);
        }

        span {
          line-height: normal;
          margin-left: 5px;
          font-weight: 600;
        }
      }

      .desc-detail {
        display: flex;
        align-items: center;

        span {
          color: var(--textColor2);
          line-height: normal;
        }

        .info-icon {
          margin-left: 7px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;

          .component-iconify {
            color: var(--themeColor);
            width: 22px !important;
            height: 22px !important;
          }
        }
      }

      &.right-status-sec {

        .key-icon-part {
          min-width: 122px;
        }

        .desc-detail {
          span {
            margin-left: 7px;

            &.status {
              margin-left: 7px;
              display: inline-block;
              padding: 6px 11px;
              border-radius: 6px;
              font-weight: 600;

              &.pending {
                background-color: #ffe5cc;
                color: #ff9966;
              }

              &.in-transit {
                background-color: #e6ffee;
                color: #33cc33;
              }
            }
          }
        }
      }
    }
  }

  .order-info-list {
    .order-title {
      display: flex;
      align-items: center;

      span {
        font-weight: 600;

        &.desc {
          padding-left: 7px;
          font-weight: normal;
          color: var(--textColor2);
        }
      }
    }

    .address-card {
      padding: 10px;
      background: var(--bg-main-content);
      border: 1px solid #e2e2ec;
      border-radius: 5px;
      height: auto;

      .title-swap-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .swap-btn {
          cursor: pointer;

          .component-iconify {
            color: var(--themeColor);
          }
        }
      }

      .desc-add-sec {
        span {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
      }
    }
  }


  .document-list {
    .file-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 7px 0 0 0;

      .left-sec {
        display: flex;
        align-items: center;
        width: calc(100% - 90px);
        margin-right: 10px;
        border: 1px solid var(--inputBorder);
        padding: 4px;
        border-radius: 5px;

        img {
          width: 24px;
          margin-right: 10px;
        }

        .file-name {
          flex-grow: 1;
        }
      }

      .file-actions {
        display: flex;
        gap: 10px;
        width: 80px;

        .btn-part {
          width: 35px;
          height: 35px;
          border-radius: 100%;
          padding: 3px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.pdf-view {
            background: #f0effc;
            color: var(--themeColor);
          }

          &.delete-icon {
            background: #fdeded;
          }
        }
      }

    }
  }

  .order-action-sec {
    .card {
      .card-top-title-btn {
        padding-bottom: 0;

        &::before {
          display: none;
        }
      }

      .card-body-sec {
        display: none;
      }
    }
  }

  .order-item-list {
    .card-body-sec {
      margin-top: 0;

      .order-all-item-view {
        .accordian-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid var(--linkMenu);
          padding-bottom: 10px;

          span {
            text-align: center;
            font-weight: 600;
            color: var(--themeColor);

            &:nth-child(1) {
              width: 20%;
              padding-left: 15px;
            }

            &:nth-child(2) {
              width: 20%;
            }

            &:nth-child(3) {
              width: 15%;
            }

            &:nth-child(4) {
              width: 15%;
            }

            &:nth-child(5) {
              width: 15%;
            }

            &:nth-child(6) {
              width: 15%;
            }
          }
        }
      }

      .accordian-desc {
        margin-top: 10px;

        .accordion {
          .accordion-item {
            margin-bottom: 10px;
            border: 1px solid var(--linkMenu) !important;
            border-radius: 7px !important;

            .accordion-header {
              .accordion-button {
                padding: 7px 0;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                background: var(--themeColorLight);

                &:focus {
                  outline: none !important;
                  border: none !important;
                  box-shadow: none !important;
                }

                &::after {
                  margin-left: unset;
                  position: absolute;
                  left: 10px;
                }

                .header-items {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;

                  span {
                    text-align: center;
                    font-weight: 600;
                    color: var(--textColor);
                    font-size: var(--commonFont);

                    &:nth-child(1) {
                      width: 20%;
                      padding-left: 15px;
                    }

                    &:nth-child(2) {
                      width: 20%;
                    }

                    &:nth-child(3) {
                      width: 15%;
                    }

                    &:nth-child(4) {
                      width: 15%;
                    }

                    &:nth-child(5) {
                      width: 15%;
                    }

                    &:nth-child(6) {
                      width: 15%;
                    }

                    .status-btn {
                      text-align: center;
                      font-weight: 600;
                      color: var(--textColor);
                      border-radius: 5px;

                      &.pending-bg {
                        background-color: #ffe5cc;
                        color: #ff9966;
                      }

                      &.complete-bg {
                        background-color: #e6ffee;
                        color: #33cc33;
                      }
                    }
                  }
                }

                &.collapsed {
                  border-top-right-radius: 7px;
                  border-top-left-radius: 7px;
                }
              }
            }
          }
        }

      }
    }

  }
}

.contact-card {
  background: var(--whiteColor);
  // box-shadow: 0px 5px 22px -5px #8fa5bf;
  border: 1px solid var(--themeColorLight);
  padding: 10px;
  border-radius: 7px;

  .profile-name-btn {
    display: flex;
    align-items: flex-start;

    .profile-icon-sec {
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
      background: var(--gradient-theme);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: var(--whiteColor);
      margin-right: 7px;
    }

    .right-info {
      width: calc(100% - 47px);

      .right-name-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-name {
          text-transform: capitalize;
          font-weight: 600;
        }

        .btn-sec {
          display: flex;
          align-items: center;
          color: var(--themeColor);
          width: 45px;
          height: 20px;

          .select-icon {
            width: 20px;
            height: 20px;
          }

          .info-display {
            margin-left: 5px;
          }
        }
      }

      .user-details {
        div {
          color: var(--textColor2);
          line-height: normal;
          display: flex;
          align-items: center;

          &.email {}

          &.number {
            margin-top: 3px;
            font-size: var(--commonFont-medium);
          }

          .component-iconify {
            width: 15px !important;
            height: 15px !important;
            margin-right: 5px;
          }
        }
      }
    }
  }

}

// Order Review Page End