.address-group {
  margin-bottom: 25px;
  margin-top: 10px;
}

.address {
  border: 1px solid var(--themeColor);
  border-radius: 10px;
  padding: 8px;
}

.product-label {
  span {
    font-size: var(--commonFont);
    color: var(--textColor);
  }

  span:nth-child(2) {
    margin-left: 20px;
  }
}

.verify-product-group {
  // margin-top: 36px;
  .loader-section {
    padding: 0;
  }

  .no-record-found {
    border: 2px dashed var(--inputBorder);
    border-radius: 6px;
    padding: 0px 20px 10px 20px;

    table {
      tbody {
        tr {
          border-bottom: 0px;
        }
      }
    }

    table {
      tbody {
        tr {
          border-bottom: 0px;
        }
      }
    }
  }
  .record-not-found {
    border: 1px solid var(--inputBorder);
    border-radius: 5px;
    padding: 35px 0;
  }

  .verify-product-label {
    font-size: var(--commonFont);
    color: var(--textColor);
    font-weight: 500;
    margin: 0 0 5px;
  }

  .verify-product-details {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--whiteColor);
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    .detail-row {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 0;

      &:nth-child(odd) {
        background-color: var(--themeColorLightGridRow);
      }

      &:last-child {
        border-bottom: none;
      }

      .detail-label {
        padding-left: 10px;
        font-size: var(--commonFont-small);
        color: var(--textColor);
        width: 20%;
      }

      .detail-value {
        font-size: var(--commonFont-small);
        color: var(--textColorLight);
        width: 60%;

        .input-group {
          width: 100%;
        }
      }

      .detail-action {
        display: flex;
        // justify-content: space-around;
        width: 20%;
        justify-content: flex-end;
        padding-right: 15px;

        .checkbox {
          margin-right: 15px;
          @media only screen and (max-width: 1366px) {
            margin-right: 7px;
          }
        }
        .right-edit-pencil {
          min-width: 45px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        .edit-button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0 15px;
          &:first-child {
            margin-left: 0;
            margin-right: 15px;

            @media only screen and (max-width: 1366px) {
              margin-right: 0px;
            }
          }

          img {
            min-width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

.product-details-hight {
  table {
    tbody {
      min-height: calc(100vh - 170px);

      tr {
        &:last-child {
          border-bottom: 0 !important;
        }
      }
    }
  }

  .parent-row {
    cursor: pointer;
  }
}

.radio-grid {
  .molgrid-2 {
    table {
      tbody {
        tr {
          td:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.order-stepper {
  .address {
    .record-not-found {
      padding: 5px 0px 0px 0px;

      img {
        width: 60px;
      }

      h5 {
        font-size: var(--commonFont) !important;
      }
    }
  }

  .order-stepper-height {
    max-height: calc(100vh - 400px);
  }
}

.stepper-card {
  &.order-stepper {
    height: calc(100vh - 105px);
    .card {
      @media only screen and (max-width: 1750px) {
        height: 100%;
      }
    }
  }
}
.stepper-card {
  &.order-stepper {
    .stepper-section {
      .stepper-content {
        min-height: calc(100vh - 235px);
        max-height: calc(100vh - 235px) !important;
        @media only screen and (max-width: 1750px) {
          min-height: calc(100vh - 175px);
          max-height: calc(100vh - 175px) !important;
        }
      }
    }
  }
}

.order-price-list {
  table {
    overflow: unset;
    tbody {
      overflow-y: unset;
      overflow-x: unset;
    }
  }
}

@media only screen and (max-width: 1650px) {
  .input-field {
    height: 28px;
  }
}

@media only screen and (max-width: 1300px) {
  
  .parent-row {
    &:nth-child(1){
      width: 25% !important;
    }
  }
}