.custom-file-uploader {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0px;

  input[type="file"] {
    padding-top: 8px;
    border-radius: 6px !important;
  }

  input {
    padding-right: 102px;
  }

  input::file-selector-button {
    cursor: pointer;
    font-weight: bold;
    color: var(--whiteColor);
    background: var(--gradient-theme);
    padding: 0 15px;
    height: 100%;
    border: none !important;
    outline: none !important;
    border-radius: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 0px;
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);

  }

  .custom-file-selector-design {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 20%;
      // opacity: 0.4;
    }

    .brows-btn {
      margin-top: 10px;
    }

    p {
      margin-top: 10px;
      opacity: 0.4;
      margin-bottom: 0;

      &.or-text {
        margin-top: 0;
      }
    }

  }

  .clear-buttons {
    position: absolute;
    top: -8px;
    left: 4px;

    .dark-btn {
      margin-right: 15px;
      height: 17px;
      width: 17px;
      font-size:  var(--commonFont-extraSmall);
      background: var(--gradient-theme);
      color: var(--whiteColor);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
      cursor: pointer;
    }
  }
}

.field-disabled {
  opacity: 0.6;
  pointer-events: none;
}


.custom-file-upload-section {
  .custom-file-uploader {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--inputBorder);
    margin-top: 8px;
    border-radius: 6px;
    margin-bottom: 15px;
    background: var(--bg-main-content);

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      padding: 0;
    }

    input::file-selector-button {
      background: var(--themeColorLight);
      cursor: pointer;
      font-weight: bold;
      color: var(--themeColor);
      padding: 0 15px;
      height: 80%;
      width: 100%;
      border: none !important;
      outline: none !important;
      border: thin solid grey;
      border-radius: 3px;
      margin-left: -15px;
      margin-right: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);

      &:focus {
        outline: none;
        box-shadow: none;
      }

    }

    .custom-file-selector-design {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      img {
        width: 15%;
      }

      .brows-btn {
        margin-top: 10px;
      }

      .drag-drop-txt {
        margin: 0 20px;
        width: 40%;

        p {
          margin-top: 0;
          opacity: 1;
          font-weight: 600;
          margin-bottom: 0;
          font-size:  var(--commonFont-large);
        }

        .small-txt {
          font-size:  var(--commonFont-small);
          color: var(--textColorLight);
        }
      }

      p {
        &.file-name {
          margin-top: 0;
          margin-bottom: 0;
          margin: 0 25px 0 15px;
          opacity: 1;
          overflow: hidden;
          max-width: 450px;
          text-overflow: ellipsis;
        }
      }

      .buttons {
        width: 35%;
        button {
          color: var(--textColor);
          padding: 7px 20px;

          &.upload-button {
            background: var(--themeColorLight);
            border: 1px solid var(--themeColorLight);
          }

          img {
            width: 15px;
            filter: unset;
          }
        }
      }

    }

    .clear-buttons {
      z-index: 99;
      position: unset;

      button {
        &.dark-btn {
          margin-right: 0;
          height: auto;
          width: auto;
          padding: 7px 10px !important;
          border-radius: 3px;
          font-size:  var(--commonFont-small);
          background: linear-gradient(to right, #2d3641db, #000000db);

          &:hover {
            box-shadow: 0 5px 15px -4px hsla(210, 22%, 4%, 0.75);
          }
        }
      }
    }

  }

}