.stepper-card {
  overflow: hidden;
  width: 100%;
  .stepper-section {
    .stepper-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--linkMenu);
      padding-bottom: 15px;
      width: 100%;

      .step {
        display: flex;
        align-items: center;
        margin-right: 8px;
        opacity: 0.7;

        .step-button {
          border: none;
          box-shadow: none;
          background: none;
          display: flex;
          align-items: center;

          .stepper-box {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 35px;
            min-width: 35px;
            max-height: 35px;
            max-width: 35px;
            background: var(--linkMenu);
            font-weight: 600;
            font-size: var(--commonFont-large);
            border-radius: 6px;
            margin-right: 12px;
            color: var(--textColor);

          }

          .stepper-label {
            display: flex;
            // align-items: flex-start;
            text-align: left;
            justify-content: flex-start;
            flex-direction: column;

            span {
              font-size: var(--commonFont);
              font-weight: 600;
              line-height: 125%;
              color: var(--textColor);

              &.small-txt {
                font-size: var(--commonFont-small);
                font-weight: normal;
                opacity: 0.8;
              }
            }
          }
        }

        &.active {
          opacity: 1;

          .step-button {
            .stepper-box {
              background: var(--themeColor);
              color: var(--whiteColor);
              box-shadow: 0 .1875rem .375rem 0 rgba(105, 108, 255, .4);
            }

            .stepper-label {
              span {
                color: var(--themeColor);

                &.small-txt {
                  color: var(--textColor);
                }
              }
            }
          }
        }
      }

      .right-arrow {
        margin-right: 15px;

        img {
          width: 12px;
          transform: rotate(270deg);
          filter: contrast(0);
        }
      }
    }

    .stepper-content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 235px);
      overflow: hidden;
      overflow-y: auto;
      width: 100%;

      .content {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 1560px) {
  .stepper-card {
    .card{
      padding: 0px 5px 5px;
      .card{
        padding: 0;
      }
    }
    .stepper-section {
      .stepper-header {
        padding-bottom: 9px;
        .step {
          .step-button {
            .stepper-box {
              min-height: 32px;
              min-width: 32px;
              max-height: 32px;
              max-width: 32px;
              font-size: var(--commonFont);
            }

            .stepper-label {
              span {
                font-size: var(--commonFont);

                &.small-txt {
                  font-size: var(--commonFont-small);
                }
              }
            }
          }
        }
      }
      .stepper-content {
        max-height: calc(100vh - 226px);
      }
    }
  }
}
 
@media only screen and (max-width: 1366px) {
  // .stepper-card {
  //   .stepper-section {
  //     .stepper-content {
  //       max-height: calc(100vh - 300px);
  //     }
  //   }
  // }
}