.checklist-left-section {
  .info-scrollable {
    padding: 0 20px;
    height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    &:before {
      position: absolute;
      content: "";
      background: var(--inputBorderLight);
      height: 100%;
      width: 1px;
      right: 0;
      top: 0;
    }

    .checklist-info {
      h5 {
        color: var(--themeColor);
      }
    }
  }

  .approval-list-part {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 15px 0px #6f9ccc64;
    margin-bottom: 18px;
    padding: 10px;
    border-radius: 10px;

    .card-top-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-bottom: 5px;
      // padding-bottom: 8px;
      padding: 7px;
      border-radius: 5px;
      background: var(--inputBorderLight);
      cursor: pointer;

      span {
        display: flex;
        align-items: 'center';
        margin-right: 7px;

        .component-iconify {
          width: 15px !important;
          height: 15px !important;
          align-items: center;
          transition: 0.5s all;
        }
      }

      h5 {
        font-weight: 800;
        margin: 0;
        font-size: var(--commonFont-large);
      }

      .checkbox {
        margin: 0;
      }
      &.active{
        span{
          .component-iconify{
            transform: rotate(180deg);
          }
        }
      }
    }

    .info-sec {
      .card-info {
        display: flex;
        padding: 0 8px;

        // flex-direction: column;
        .card-label {
          font-weight: 700;
          color: var(--textColor);
          margin-right: 10px;
          font-size: var(--commonFont);
        }

        .desc-part {
          color: var(--textColor);
        }
      }
    }

    .card-info-checklist {
      padding: 0 0 0 8px;

      .address-card-part {
        margin-bottom: 7px;
        margin-top: 5px;
        border-bottom: 1px solid var(--themeColorLight);
        padding-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }

        .title {
          font-weight: 700;
          color: var(--themeColor);
          font-size: var(--commonFont);
          margin: 8px 0 5px;
        }

        .add-line-desc {
          font-size: var(--commonFont);
          color: var(--textColor);
          margin: 0;
        }
      }

      .card-part {
        margin-bottom: 7px;
        margin-top: 5px;
        border-bottom: 1px solid var(--themeColorLight);
        padding-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }

        .title {
          font-weight: 700;
          color: var(--themeColor);
          font-size: var(--commonFont);
          margin: 8px 0 5px;
        }

        .name-title {
          display: flex;
          align-items: flex-start;
          margin-bottom: 6px;

          .title-desc {
            display: flex;
            flex-wrap: wrap;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .label {
            font-weight: 700;
            font-size: var(--commonFont);
            margin: 0;
            margin-right: 7px;
            min-width: 50px;

            @media only screen and (max-width: 1750px) {
              min-width: 45px;
            }
          }

          .name-desc {
            margin: 0;
            font-size: var(--commonFont);
            color: var(--textColor);
            margin-right: 7px;
          }

          &.number-sec {
            align-items: flex-start;

            .label {
              margin-top: 0;
              min-width: 50px;

              @media only screen and (max-width: 1750px) {
                min-width: 45px;
              }
            }

            .name-desc-sec {
              width: calc(100% - 45px);
              display: flex;
              flex-wrap: wrap;

              .name-desc {
                margin-right: 7px;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}