

.mytask-section {
  overflow: hidden;
  .task-title {
    margin: 0 0 5px 0px;

    .search-section {
      .search-part {
        margin-right: 10px;
      }
    }
  }

  .btn-done {
    background-color: var(--themeColor);
    border-radius: 0px;
  }


  .btn-archive {
    background-color: var(--textColorLight);
    border-radius: 0px;
  }

  .tabs {
    flex-direction: column;
    display: flex;
  }


  .tab-button {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    background-color: var(--whiteColor);
    border-bottom: 1px solid #e8eae8;
    padding: 10px;
    text-align: start;
    color: #757575;

    @media only screen and (max-width: 1366px) {
      padding: 5px;
    }

    &.active {
      background-color: #eeeef3;
    }

    .profile-icon {
      background-color: #d4d5fb;
      // padding: 8px;
      border-radius: 100%;
      color: #000 !important;
      font-weight: 500;
      font-size: var(--commonFont-medium) !important;
      margin: 0px 10px 0 0;
      min-width: 35px !important;
      min-height: 35px !important;
      max-width: 35px !important;
      max-height: 35px !important;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1366px) {
        min-width: 22px !important;
        min-height: 22px !important;
        max-width: 22px !important;
        max-height: 22px !important;
        font-size: var(--commonFont-small) !important;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      font-size: var(--commonFont-small);
      color: var(--blackColor);

      .sub-title {
        font-size: var(--commonFont-small);

        color: #797979;
      }
    }
  }

  @media only screen and (max-width: 1366px) {
    .date {
      font-size: var(--commonFont-extraSmall);
    }
  }

  .task-tab {

    .tab-section-desc {
      .tab-section {
        .tab-content {
          .card {
            .card-body-sec {
              min-height: calc(100vh - 210px);
              max-height: calc(100vh - 210px);
              
              overflow: hidden;
              overflow-y: auto;
              margin-top: 0;

              @media only screen and (max-width: 1750px) {
                min-height: calc(100vh - 173px);
                max-height: calc(100vh - 173px);
              }
            }
          }
        }
      }

      .tab-header {
        padding-bottom: 10px;
      }
    }
  }

  .card-section-left .card-button-only {
    padding: 8px;
  }

  .tab-section-desc {
    .tab-section {
      .tab-body-section {
        .card {
          padding: 12px 0;

          @media only screen and (max-width: 1750px) {
            padding: 8px 0;
          }

          .card-top-title-btn {
            padding-left: 12px;
            padding-right: 12px;
          }

          .module-listing {
            ul {
              margin: 0;
              padding: 0;
              list-style-type: none;

              li {
                padding: 0;
                cursor: pointer;

                span {
                  color: var(--textColor);
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 7px 10px;
                  text-transform: capitalize;
                  border-bottom: 1px dashed #e8eae8;
                }

                &.active {
                  span {
                    background: var(--themeColorLight);
                    color: var(--blackColor);
                  }
                }

                &:hover {
                  span {
                    background: var(--bg-main-content);
                    color: var(--blackColor);
                  }
                }
                span>.module-count{
                padding: 5px;
                color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                background-color: var(--themeColor);
                border-radius: 50%;
                font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.right-desc {
  padding-top: 49px;

  @media only screen and (max-width: 1366px) {
    padding-top: 45px;
  }

  .card-body-sec {
    .task-detail {
      display: flex;
      flex-direction: column;

      .task-head {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-top: -5px;
        align-items: center;
        border-bottom: 1px solid #e8eae8;

        .date {
          text-align: end;
        }

        .view-customer {
          font-size: var(--commonFont-small);
          color: var(--themeColor);
          font-weight: 600;
          display: flex;
          align-items: center;
          cursor: pointer !important;
        }

        .view-customer img {
          margin: 0 3px 0 0;
          vertical-align: middle;
        }

        .profile-icon {
          background-color: #d4d5fb;
          // padding: 8px;
          border-radius: 100%;
          color: #000 !important;
          font-weight: 500;
          font-size: var(--commonFont-large) !important;
          margin: 0px 10px;
          min-width: 40px !important;
          min-height: 40px !important;
          max-width: 40px !important;
          max-height: 40px !important;
          line-height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .title {
          display: flex;
          flex-direction: column;
          font-size: var(--commonFont-medium);

          .sub-title {
            font-size: var(--commonFont-medium);
          }
        }
      }

      .task-footer {
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        .reject-btn {
          background-color: #ff0000;
          color: var(--whiteColor);
        }

        .accept-btn {
          background-color: #58cb58;
          color: var(--whiteColor);
        }
      }

      .customer-information {
        padding: 15px 20px 0;

        .info-row {
          display: flex;
          // justify-content: space-between;
          margin-bottom: 10px;
          align-items: center;

          .info-label {
            font-weight: 600;
            // color: #555;
            font-size: var(--commonFont-medium);
          }

          .info-list {
            list-style: none;
            padding-left: 10px;
          }

          .info-value {
            color: var(--themeColor);
            font-size: var(--commonFont-medium);
            font-weight: 600;

            &.info-value {
              font-weight: 600;
            }
          }
        }
      }

      .value-comparison {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        overflow-y: auto;
        // background: #f9f9f9;
        width: 100%;

        .value-block {
          width: 49%;
          background: #f9f9f9;
          padding: 15px;
          display: flex;
          gap: 5px;
          border-radius: 8px;
          flex-direction: column;
          height: fit-content;
          margin-right: 10px;
          &:last-child{
            margin-right: 0;
          }
          .value-title {
            font-size: var(--commonFont-large);
            // margin-bottom: 10px;
            color: #333;
            font-weight: 700;
          }

          .value-content {
            list-style: none;
            margin-bottom: 0;

            .value-label {
              font-weight: 600;
              font-size: var(--commonFont);
              text-transform: capitalize;
            }

            .value-data {
              color: var(--themeColor);
              font-weight: 600;
              font-size: var(--commonFont);
            }

            .dynamic-task-sepration {
              border-bottom: 3px dotted var(--tableBorderColor);
              width: 50%;
              padding-bottom: 3px;
              padding-top: 3px;
              // .value-label {
              //   &:last-child {
              //     margin-bottom: 5px;
              //   }
              // }
            }
          }

          .no-value {
            font-style: italic;
          }
        }
        .document-list-sec{
          width: 100%;
          .document-listing{
            .documents{
              .right-desc{
                padding-top: 0;
              }
            }
          }
        }
      }

      .detail-head {
        font-size: var(--commonFont);
        margin: 10px 0px;
        color: var(--themeColor);
        font-weight: 600;
      }

      .detail {
        border: 1px solid var(--themeColor);
        border-radius: 10px;
        margin: 0 20px 0 0px;
        padding: 8px;
        width: 98%;
      }

      .detail-btn {
        background: var(--themeColor);
        color: var(--whiteColor);
        padding: 0 10px;
        width: 170px;
        display: flex;
        height: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
      }
    }

    min-height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    overflow: hidden;
    overflow-y: auto;

    @media only screen and (max-width: 1750px) {
      min-height: calc(100vh - 160px);
      max-height: calc(100vh - 160px);
    }


  }




}

.bage-fix {
  display: flex;
  align-items: center;
}

.mytask-type-badge {
  margin-left: 7px;
  padding: 0px 5px;
  // position: relative;
  display: flex;
  // top: -10px;
  background: var(--themeColorLight);
  color: var(--blackColor);
  // right: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: var(--commonFont-extraSmall);
  font-weight: 600;
  // left: 145px;
}

.badge-accept {
  background: var(--approved-theme);
  color: var(--approved-theme-btn);
}

.badge-reject {
  background: var(--reject-color);
  color: var(--reject-theme-btn);
}

.date {
  text-align: end;
  font-size: var(--commonFont-small);
  white-space: nowrap;
}

.list-style {
  list-style: none;

}

.filter-model-sec {
  .btn-right-sec {
    button {
      margin: 0;
      padding: 0;
      color: var(--themeColor);

      .component-iconify {
        width: 30px !important;
        height: 30px !important;

        svg {
          width: 30px !important;
          height: 30px !important;
        }
      }
      &.btn.undefined {
        display: none;
      }
    }
    .shorting-section{
      button{
        &.btn.undefined {
          display: block;
          min-width: auto;
        }
      }
    }
  }
}

