.header-section {
  height: 62px;
  width: 98.5%;
  background: var(--whiteColor);
  display: flex;
  align-items: center;
  padding: 0px 15px 0 10px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);

  .left-section {
    width: 40%;

    .search-bar {
      .search-section {
        border: none !important;
        .search-part {
          border: none !important;
          input{
            font-size: var(--commonFont-Large);
          }
        }
      }
    }
  }

  .right-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;

    .shortcut-sec {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      position: relative;

      .shortcut-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        .component-iconify{
          color: #566a7f;
          height: 25px;
          width: 25px;
        }
      }

      .shortcuts-list {
        position: absolute;
        height: 396px;
        width: 300px;
        overflow: hidden;
        overflow-y: auto;
        background: var(--whiteColor);
        box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
        top: 100%;
        right: -15px;
        border-radius: 7px;
        display: none;
        z-index: 11;

        .top-header-card-title {
          padding: 11px 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 500;
          border-bottom: 1px solid var(--inputBorderLight);

          .title {
            opacity: 0.7;
            font-size: var(--commonFont-large);
          }

          .add-short-cut {
            transition: 0.5s all;
            color: var(--themeColor);

            &:hover {
              color: var(--textColor);
            }

            cursor: pointer;

            i {
              font-size: var(--commonFont-extraLarge);
              margin: 0;
            }
          }
        }

        .short-cuts-list {
          .manus-items {
            border-top: 1px solid var(--inputBorderLight);
            border-bottom: 1px solid var(--inputBorderLight);

            &:first-child {
              border-top: none;
              border-bottom: 0;
            }

            &:last-child {
              border-top: none;
              border-bottom: 0;
            }

            .shortcut-menus {
              border-right: 1px solid var(--inputBorderLight);
              padding: 15px;

              &:nth-child(even) {
                border: none;
              }

              .shortcuts {
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                cursor: pointer;
                transition: 0.4s all;
                height: 100%;

                .shortcut-icon {
                  background: var(--linkMenu);
                  height: 40px;
                  width: 40px;
                  border-radius: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: var(--textColor);

                  img {
                    width: 20px;
                    height: 20px;
                  }
                }

                .shortcut-desc {
                  text-align: center;
                  margin-top: 10px;

                  h6 {
                    font-size: var(--commonFont);
                    margin: 0;
                    font-weight: 600;
                  }

                  p {
                    margin: 0;
                    font-size: var(--commonFont-small);
                  }
                }

                &:hover {
                  background: #4359710a;
                }
              }
            }
          }
        }
      }

      &:hover {
        .shortcuts-list {
          display: block;
        }
      }
    }

    .search-bar {
      width: 60%;
      margin-right: 25px;

      .search-part {
        width: 100%;
        margin-right: 0;
      }
    }

    .profile-section {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .notification {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        position: relative;

        .bell-icon {
          position: relative;
          cursor: pointer;

          .dot-round {
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            background: var(--successColor);
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            top: 0px;
            right: -4px;
            font-size: var(--commonFont-extraSmall);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: var(--whiteColor);
          }
        }

        .notification-list {
          position: absolute;
          height: 420px;
          width: 300px;
          background: var(--whiteColor);
          box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
          top: 100%;
          right: -15px;
          border-radius: 7px;
          display: none;
          z-index: 11;
          overflow: hidden;

          .title-clearall {
            padding: 11px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            border-bottom: 1px solid var(--inputBorder);

            .title {
              opacity: 0.5;
              font-size: var(--commonFont-large);
            }

            .clear-all {
              color: var(--themeColor);
              cursor: pointer;
              font-weight: 600;
              transition: 0.5s all;

              &:hover {
                color: var(--textColor);
              }
            }
          }

          .notification-items {
            padding-top: 10px;

            ul {
              list-style-type: none;
              padding-left: 15px;
              padding-right: 15px;
              height: 200px;
              overflow: hidden;
              overflow-y: auto;
              margin: 0;

              li {
                color: var(--textColor);
                display: flex;
                align-items: flex-start;
                margin-bottom: 10px;
                cursor: pointer;

                &:last-child {
                  margin-bottom: 0;
                }

                &:nth-child(1) {
                  .noti-img {
                    background: var(--light-red-bg-g);
                  }
                }

                &:nth-child(2) {
                  .noti-img {
                    background: var(--warning-bg-g);
                  }
                }

                &:nth-child(3) {
                  .noti-img {
                    background: var(--info-bg-g);
                  }
                }

                &:nth-child(4) {
                  .noti-img {
                    background: var(--dark-bg-g);
                  }
                }

                .noti-img {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 100%;
                  min-width: 40px;
                  max-width: 40px;
                  height: 40px;
                  margin-right: 10px;
                  opacity: 0.7;

                  i {
                    font-size: var(--commonFont-2extraLarge);
                    line-height: 21px;
                  }
                }

                .notification-time {
                  a {
                    font-size: var(--commonFont-small);
                    line-height: normal;
                    color: var(--blackColor) !important;

                    &:hover {
                      color: var(--themeColor) !important;
                    }
                  }

                  .time-sec {
                    color: var(--blackColor);
                    font-size: var(--commonFont-extraSmall);
                    opacity: 0.6;
                  }
                }
              }
            }
          }

          .notification-footer {
            border-top: 1px solid var(--box-borderColor);
            background: var(--bg-main-content);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            position: absolute;
            width: 100%;
            bottom: 0;

            a {
              cursor: pointer;
              font-weight: 600;
              color: var(--themeColor);
              transition: 0.5s all;

              &:hover {
                color: var(--textColor);
              }
            }
          }
        }

        &:hover {
          .notification-list {
            display: block;
          }
        }
      }

      .profiles {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          .profile-dropdown-menu {
            display: block;
          }
        }

        .profile-img {
          margin-right: 10px;
          background: var(--textColor);
          color: var(--whiteColor);
          border-radius: 100%;
          font-size: var(--commonFont-extraLarge);
          height: 35px;
          width: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;

          img {
            width: 30px;
            filter: brightness(100);
            -webkit-filter: brightness(100);
          }
        }

        .user-name-desc {
          display: flex;
          align-items: center;

          .name {
            font-weight: 500;
          }

          span {
            img {
              width: 12px;
              filter: brightness(0);
            }
          }
        }

        .profile-dropdown-menu {
          position: absolute;
          min-width: 180px;
          background: var(--whiteColor);
          box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
          border: 1px solid var(--box-borderColor);
          border-radius: 7px;
          top: 102%;
          right: -5px;
          display: none;
          z-index: 99;
          padding-top: 12px;

          .title-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid var(--inputBorder);
            padding-bottom: 8px;

            .user-name {
              font-weight: 600;
              color: var(--themeColor);
            }

            &:last-child {
              border-bottom: 0;
            }

            a {
              padding: 6px 10px;
              color: var(--textColor);
              width: 100%;
              display: inline-block;

              span {
                display: flex;
                transition: 0.3s all;
                font-weight: 600;
                width: 100%;

                &.bi {
                  padding: 5px 10px;
                  font-size: var(--commonFont-large);
                  margin-bottom: 0 !important;
                }

                &::before {
                  line-height: inherit;
                  margin-right: 10px;
                  font-size: var(--commonFont-Large);
                }

                &.name-title {
                  opacity: 0.5;
                  color: var(--blackColor) !important;
                  cursor: auto;
                }

                &.user-name {
                  font-weight: 500;
                  color: var(--blackColor) !important;
                  cursor: auto;
                }
              }

              &:hover {
                background: var(--linkMenu);
              }
            }

            &.drop-down-icon-menu {
              padding-bottom: 0;

              span {
                margin-bottom: 10px;

                &:last-child {
                  margin-bottom: 0;
                  display: flex;
                  align-items: center;
                }
              }

              &.logout {
                span {
                  background-color: #ff4c51;
                  color: #fff;
                  box-shadow: 0 0.125rem 0.375rem 0 rgba(255, 76, 81, 0.3);
                  color: #fff !important;
                  border-color: #e64449 !important;
                  border-radius: 4px;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1750px) {
  .header-section {
    height: 51px;
  }
}
