.login-section {
  height: 100vh;
  width: 100%;

  .left-bg-section {
    background: linear-gradient(40deg, #05ffa3, #173dd5) !important;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 10%;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      font-weight: 500;
      color: var(--whiteColor);
      font-size: 160%;
    }

    h1 {
      text-align: center;
      margin-bottom: 0px;
      font-weight: 600;
      font-size: 200%;
      color: var(--blackColor);
    }

    img {
      &.text-img {
        width: 350px;
      }
    }

    p {
      width: 50%;
      margin: 30px auto 0;
      color: var(--whiteColor);
      text-align: center;

      &.copyright {
        position: absolute;
        bottom: 25px;
      }
      span{
        color: var(--textColor);
      }
    }
  }

  .right-form-section {
    background: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20%;
      background: url(../../assets/images/login-bg-shap.png);
      background-position: center left;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
    }

  

    .login-form-section {
      width: 70%;
      padding: 80px 40px 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 111111;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      box-shadow: 0 2px 25px -10px rgba(65, 132, 234, 0.75);

      .input-label-part {
        margin-bottom: 0;
        .input-label{
          min-height: unset;
        }

        input {
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
          border-radius: 0 !important;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          -ms-border-radius: 0 !important;
          -o-border-radius: 0 !important;
        }
      }

      h2 {
        font-weight: bold;
        margin-bottom: 40px;
      }

      .button-part {
        margin-top: 30px;
      }
    }
  }
}