// New Timeline Start
.main-card {
    max-height: calc(100vh - 295px);
    overflow: hidden;
    overflow-y: auto;
}

.vertical-timeline {
    width: 100%;
    position: relative;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        //   left: 82px;
        left: 10px;
        height: 100%;
        width: 4px;
        background: #e9ecef;
        border-radius: 0.25rem;
    }

    &.vertical-timeline--animate {
        .vertical-timeline-element-icon {
            &.bounce-in {
                visibility: visible;
                animation: cd-bounce-1 1s;
                -webkit-animation: cd-bounce-1 1s;
            }
        }
    }

    .vertical-timeline-element {
        position: relative;
        margin: 0 0 3rem;

        .vertical-timeline-element-icon {
            position: absolute;
            top: 0;
            left: 4px;

            .badge-dot-xl {
                width: 18px;
                height: 18px;
                position: relative;
                box-shadow: 0 0 0 5px #fff;

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 1.25rem;
                    position: absolute;
                    left: 7%;
                    top: 7%;
                    /* margin: -5px 0 0 -5px; */
                    background: var(--themeColor);
                }
            }

            .badge {
                // background: var(--themeColor);

                &:empty {
                    display: none;
                }
            }
        }

        .vertical-timeline-element-content {
            position: relative;
            margin-left: 35px;
            font-size: 0.8rem;

            &::after {
                content: "";
                display: table;
                clear: both;
            }

            .timeline-title {
                font-weight: normal;
                font-size: 0.8rem;
                // text-transform: uppercase;
                margin: 0;
                padding: 2px 0 0;

                .font-bold {
                    font-weight: bold;
                    color: var(--themeColor);
                }
            }

            .vertical-timeline-element-date {
                display: block;
                position: absolute;
                left: -105px;
                top: 0;
                padding-right: 10px;
                text-align: left;
                color: #838990;
                font-size: 0.7619rem;
                white-space: normal;
                width: 100px;
            }
        }
    }
}

@keyframes cd-bounce-1 {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

.history-part {
    .card-top-title-btn {
        display: flex;
        justify-content: end !important;
    }
}

// New Timeline End


// New Timeline Sec Start

.new-timeline-sec {
    .timeline {
        width: 97%;
        max-width: 97%;
        display: flex;
        flex-direction: column;
        padding: 15px 0 0px 30px;
        border-left: 3px dashed var(--textColor);
        margin-left: 3%;
        margin-right: 2%;

        .timeline-item {
            display: flex;
            gap: 20px;
            margin-bottom: 30px;

            .timeline-item-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                margin-left: -51px;
                flex-shrink: 0;
                overflow: hidden;
                background: var(--whiteColor);
                border: 2px solid var(--textColor);
                padding: 3px;

                img {
                    width: 23px;
                    height: 23px;
                }
            }

            .timeline-item-description {
                display: flex;
                flex-direction: column;
                padding-top: 6px;
                background: var(--whiteColor);
                padding: 10px;
                width: 100%;
                border-radius: 5px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    background: var(--whiteColor);
                    height: 4px;
                    width: 20px;
                    left: -20px;
                    top: 18px;
                }

                .right-desc-sec {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: 1px;
                    .timeline-name {
                        font-weight: bold;
                        font-size: var(--commonFont);
                    }

                    .date-time {
                        font-size: var(--commonFont-extraSmall);
                        color: var(--themeColor);
                        position: absolute;
                        top: -17px;
                        left: 5px;
                    }
                    .type-name {
                        font-size: var(--commonFont-small);
                        font-weight: 600;
                        color: var(--whiteColor);
                        background: var(--themeColor);
                        padding: 1px 5px;
                    }
                }

                .msg-section {
                    margin-top: 0;
                    p {
                        margin-bottom: 0;
                        font-size: var(--commonFont-small);
                    }
                }

                a {
                    color: var(--c-grey-500);
                    font-weight: 500;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        outline: 0; // Don't actually do this
                        color: var(--c-blue-500);
                    }
                }
            }

        }
    }

}

.infinite-scroll{
    display: flex;
flex-direction: column-reverse;
}  

// New Timeline Sec End