.tree-section-view {
  .section-header-part {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--commonFont);
    background: var(--bg-main-content);
    padding: 10px;

    .drop-menu-icon {
      width: 15%;
    }

    .security-key {
      width: 70%;
      font-size: var(--commonFont);
    }

    .permission-dropdown {
      width: 15%;
    }
  }

  .inner-section {
    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        .parent-part {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px 5px 35px;
          border-bottom: 1px solid var(--bg-main-content);
          position: relative;

          .drop-menu-icon {
            width: 15%;

            .arrow-icon {
              left: 10px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);

              img {
                height: 15px;
                left: 0;
                opacity: .4;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                width: 15px;
              }
            }

            img {
              cursor: pointer;
              width: 35px;

              @media only screen and (max-width: 1750px) {
                width: 25px;
              }
            }
          }

          .security-key {
            width: 70%;
            font-size: var(--commonFont-small);

            p {
              font-size: var(--commonFont);
              margin: 0;
            }
          }

          .permission-dropdown {
            width: 15%;
          }
        }

        &.active-1drop {
          .parent-part {
            .drop-menu-icon {
              .arrow-icon {
                img {
                  transform: rotate(180deg);
                }
              }
            }
          }

          .sub-parent {
            li {
              .parent-part {
                .drop-menu-icon {
                  .arrow-icon {
                    left: 25px;

                    img {
                      transform: rotate(0deg);
                      -webkit-filter: grayscale(100%);
                      filter: grayscale(100%);
                    }
                  }
                }
              }

              &.active-2drop {
                .parent-part {
                  .drop-menu-icon {
                    .arrow-icon {
                      img {
                        transform: rotate(180deg);
                      }
                    }
                  }
                }

                ul {
                  &.sub2-parent {
                    li {
                      .parent-part {
                        .drop-menu-icon {
                          .arrow-icon {
                            left: 40px;

                            img {
                              width: 15px;
                              transform: rotate(0deg);
                              -webkit-filter: unset;
                              filter: unset;
                            }
                          }
                        }
                      }
                    }

                  }
                }
              }
            }

          }
        }


        ul {
          li {
            .drop-menu-icon {
              padding-left: 15px;
            }

            ul {
              li {
                .drop-menu-icon {
                  padding-left: 30px;
                }

                ul {
                  li {
                    .drop-menu-icon {
                      padding-left: 45px;
                    }
                  }
                }
              }
            }
          }
        }

        .sub-parent {
          height: 0;
          visibility: hidden;

          .sub2-parent {
            height: 0;
            visibility: hidden;

            .sub3-parent {
              height: 0;
              visibility: hidden;
            }
          }

        }

        &.active-1drop {
          ul {
            &.sub-parent {
              height: 100%;
              visibility: visible;

              li {
                &.active-2drop {
                  ul {
                    &.sub2-parent {
                      height: 100%;
                      visibility: visible;

                      .parent-part {
                        .arrow-icon {
                          img {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                          }
                        }
                      }

                      li {
                        .drop-menu-icon {
                          img {
                            width: 25px;
                          }
                        }

                        &.active-3drop {
                          ul {
                            &.sub3-parent {
                              height: 100%;
                              visibility: visible;

                              li {
                                .drop-menu-icon {
                                  img {
                                    width: 30px;
                                    transform: unset;
                                    -webkit-transform: unset;
                                    -moz-transform: unset;
                                    -ms-transform: unset;
                                    -o-transform: unset;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }


    }
  }
  &.security-permission{
    .inner-section{
      max-height: calc(100vh - 380px);
      overflow: hidden;
      overflow-y: auto;
      @media only screen and (max-width: 1750px) {
        max-height: calc(100vh - 310px);
      }
      @media only screen and (max-width: 1366px) {
        max-height: calc(100vh - 305px);
      }
    }
  }
}

@media only screen and (max-width: 1750px) {
  .permission-list {
    .card {
      margin-bottom: 0;
    }
  }
}

