.sidebar-section {
  background: var(--whiteColor);
  box-shadow: var(--white-card-shadow);
  height: 100%;
  position: relative;
  width: 260px;
  height: 100vh;
  transition: 0.5s all;

  .sidebar {
    .main-menus {
      .sidebar-toggler {
        display: none;
      }

      .sidebar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        text-align: center;
        min-height: 60px;
        font-size: 28px;
        font-weight: 600;
        color: var(--themeColor);

        img {
          width: 60%;
          margin: a auto;
        }

        .small-sidebar {
          display: block;
        }
      }

      .sidebar-menu {
        padding: 0 15px;

        ul {
          list-style-type: none;
          padding-left: 0;

          &.sidebar-menu-list {
            margin-top: 15px;

            li {
              &.menu-item {
                margin-bottom: 5px;

                &:hover {
                  a {
                    background: var(--linkMenu);
                    color: var(--textColor);

                    i {
                      color: var(--textColor);
                    }
                  }
                }

                &.active-menu {
                  &:hover {
                    .menu-arrow {
                      background: var(--themeColorLight);
                      color: var(--themeColor);

                      i {
                        color: var(--themeColor);
                      }
                    }
                  }

                  a {
                    background: var(--themeColorLight);
                    color: var(--themeColor);

                    i {
                      color: var(--themeColor);
                    }
                  }
                }

                a {
                  font-size: var(--commonFont-medium);
                  color: var(--blackColor);
                  padding: 10px;
                  border-radius: 7px;
                  display: flex;
                  align-items: center;

                  i {
                    font-size: var(--commonFont-extraLarge);
                    line-height: 18px;
                    color: #8291ae;
                  }

                  span {
                    padding-left: 10px;
                    font-size: var(--commonFont-medium);
                    font-weight: 500;

                  }

                  &.menu-arrow {
                    position: relative;

                    &::before {
                      content: "";
                      position: absolute;
                      height: 15px;
                      width: 15px;
                      background: url(../../../assets/images/arrow.png);
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: contain;
                      right: 15px;
                      top: 50%;
                      transform: translateY(-50%) rotate(0deg);
                      transition: 0.5s all;
                      filter: brightness(0);

                      @media only screen and (max-width: 1560px) {
                        height: 12px;
                        width: 12px;
                        right: 10px;
                      }
                    }
                  }
                }

                ul {
                  &.sidebar-dropdown {
                    padding-left: 30px;
                    height: 0;
                    overflow: hidden;
                    transition: 0.5s all;
                    -webkit-transition: 0.5s all;
                    -moz-transition: 0.5s all;
                    -ms-transition: 0.5s all;
                    -o-transition: 0.5s all;
                    opacity: 0;

                    li {
                      a {
                        background: none;
                        width: 100%;
                        display: block;
                        opacity: 0.8;
                        padding: 7px;
                        font-size: var(--commonFont-small);

                        &::before {
                          display: none;
                        }
                      }

                      &:hover {
                        a {
                          color: var(--themeColor);
                          opacity: 1;
                        }
                      }

                      &:last-child {
                        a {
                          // padding-top: 0;
                        }
                      }

                      .active-submenu {
                        color: var(--themeColor) !important; // Active color style
                      }
                    }
                  }
                }

                &.active-menu {
                  a {
                    &::before {
                      transform: translateY(-50%) rotate(180deg);
                      filter: unset;
                    }
                  }

                  ul {
                    position: relative;

                    &::before {
                      content: "";
                      position: absolute;
                      left: 22px;
                      top: 50%;
                      transform: translateY(-50%);
                      height: calc(100% - 35px);
                      width: 1px;
                      background: var(--light-menuDot);
                    }

                    &.sidebar-dropdown {
                      height: auto;
                      opacity: 1;

                      li {
                        position: relative;

                        &:before {
                          position: absolute;
                          content: "";
                          background: var(--light-menuDot);
                          height: 5px;
                          width: 5px;
                          border-radius: 100%;
                          top: 50%;
                          left: -10px;
                          transform: translateY(-50%);
                          transition: 0.5s all;
                        }

                        a {
                          color: var(--textColor);
                        }

                        &:hover {
                          &:before {
                            background: var(--themeColor);
                          }

                          a {
                            color: var(--themeColor);
                          }
                        }

                        .active-submenu {
                          color: var(--themeColor) !important; // Active color style
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}